<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hao.nb.cloud.auth.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hao.nb.cloud.auth.entity.SysMenu">
        <id column="menu_id" property="menuId"/>
        <result column="version" property="version"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="parent_menu_code" property="parentMenuCode"/>
        <result column="menu_code" property="menuCode"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_path" property="menuPath"/>
        <result column="menu_index" property="menuIndex"/>
        <result column="menu_icon" property="menuIcon"/>
        <result column="menu_type" property="menuType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            version, create_by, create_time, update_by, update_time, deleted, menu_id, parent_menu_code, menu_code, menu_name, menu_path, menu_index, menu_icon, menu_type
        </sql>


    <select id="pageMapData" parameterType="map" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from sys_menu ${ew.customSqlSegment}
    </select>
</mapper>
